body {background:url(https://www.hulu.com/static/hitch/s3/2018-01/768-lifestyle%402x.jpg)
}

nav {
    max-width: 10%;
    height: 10%;
    margin: 0%
}

header {
    align-content: center; font: large 
}

image source {
    margin: 0%;
    height: 0%;
    width: 0%

}
